<footer>
  <div class="container-fluid text-center footer-background">
    <div class="row">
      <div class="col-lg-3 col-xl-3 p-0">
        <img
          class="img-fluid my-5 white-color"
          src="../../../assets/logo.svg"
          alt="Shortly logo"
        />
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2 mt-lg-5 text-lg-start p-0 ps-md-5">
        <h3 class="text-white mb-3 heading" data-aos="flip-up">Features</h3>
        <ul class="p-0 heading-list">
          <li class="mb-2" data-aos="flip-up">
            <a class="text-decoration-none heading-list-item" href="#"
              >Link Shortening</a
            >
          </li>
          <li class="mb-2" data-aos="flip-up">
            <a class="text-decoration-none heading-list-item" href="#"
              >Branded Links</a
            >
          </li>
          <li class="mb-5" data-aos="flip-up">
            <a class="text-decoration-none heading-list-item" href="#"
              >Analytics</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2 mt-lg-5 text-lg-start p-0 ps-md-5">
        <h3
          class="text-white mb-3 heading"
          data-aos="flip-up"
          data-aos-delay="300"
        >
          Resources
        </h3>
        <ul class="p-0 heading-list">
          <li class="mb-2" data-aos="flip-up" data-aos-delay="300">
            <a class="text-decoration-none heading-list-item" href="#">Blog</a>
          </li>
          <li class="mb-2" data-aos="flip-up" data-aos-delay="300">
            <a class="text-decoration-none heading-list-item" href="#"
              >Developers</a
            >
          </li>
          <li class="mb-5" data-aos="flip-up" data-aos-delay="300">
            <a class="text-decoration-none heading-list-item" href="#"
              >Support</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2 mt-lg-5 text-lg-start p-0 ps-md-5">
        <h3
          class="text-white mb-3 heading"
          data-aos="flip-up"
          data-aos-delay="600"
        >
          Company
        </h3>
        <ul class="p-0 heading-list">
          <li class="mb-2" data-aos="flip-up" data-aos-delay="600">
            <a class="text-decoration-none heading-list-item" href="#">About</a>
          </li>
          <li class="mb-2" data-aos="flip-up" data-aos-delay="600">
            <a class="text-decoration-none heading-list-item" href="#"
              >Our Team</a
            >
          </li>
          <li class="mb-2" data-aos="flip-up" data-aos-delay="600">
            <a class="text-decoration-none heading-list-item" href="#"
              >Careers</a
            >
          </li>
          <li class="mb-5" data-aos="flip-up" data-aos-delay="600">
            <a class="text-decoration-none heading-list-item" href="#"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div
        class="col-xl-2 mt-xl-5 p-0 mb-5 d-flex justify-content-center column-gap-4"
      >
        <a
          class="social-icon"
          href="#"
          target="_blank"
          data-aos="flip-left"
          data-aos-delay="800"
        >
          <img
            class="img-fluid"
            src="../../../assets/icon-facebook.svg"
            alt="Facebook icon"
          />
        </a>
        <a
          class="social-icon"
          href="#"
          target="_blank"
          data-aos="flip-left"
          data-aos-delay="800"
        >
          <img
            class="img-fluid"
            src="../../../assets/icon-twitter.svg"
            alt="Twitter icon"
          />
        </a>
        <a
          class="social-icon"
          href="#"
          target="_blank"
          data-aos="flip-left"
          data-aos-delay="800"
        >
          <img
            class="img-fluid"
            src="../../../assets/icon-pinterest.svg"
            alt="Pinterest icon"
          />
        </a>
        <a
          class="social-icon"
          href="#"
          target="_blank"
          data-aos="flip-left"
          data-aos-delay="800"
        >
          <img
            class="img-fluid"
            src="../../../assets/icon-instagram.svg"
            alt="Instagarm icon"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
