<section class="neutral-gray-background">
  <ul class="list-group">
    <li class="list-group-item p-0 mt-4">
      <div class="container-fluid">
        <div class="row align-items-xl-center">
          <div class="col-md-6 col-xl-5 p-3">https://www.frontendmentor.io</div>
          <hr class="d-md-none m-0" />
          <div class="col-md-6 col-xl-5 text-md-end p-3 primary-cyan-color">
            https://rel.ink/k4IKyk
          </div>
          <hr class="d-none d-md-block d-xl-none" />
          <div class="col-xl-2 p-3 pt-0 pt-xl-3">
            <button class="btn text-white text-center w-100 copy-button">
              Copy
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
