<section class="neutral-grayish-violet-secondary">
  @if (isRequest()) {
    <div class="row align-items-xl-center pt-4 row-gap-3 m-0">
      <ngx-skeleton-loader class="col-md-6 col-xl-5 px-3 d-flex align-items-center" count="1" appearance="line" [theme]="{
        'background-color': 'hsl(0, 0%, 75%)',
        'height': '1.313rem',
        'max-width': '15rem',
        'margin': '0'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="col-md-6 col-xl-5 px-3 d-flex justify-content-md-end" count="1" appearance="line" [theme]="{
        'background-color': 'hsl(0, 0%, 75%)',
        'height': '1.313rem',
        'max-width': '21rem',
        'margin': '0'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="col-xl-2 p-0 px-3 d-flex align-items-xl-center" count="1" appearance="line" [theme]="{
        'background-color': 'hsl(0, 0%, 75%)',
        'height': '2.25rem',
        'margin': '0'
      }"></ngx-skeleton-loader>
    </div>
  }
  <ul class="list-group">
    @for (url of urls().slice().reverse(); track url.baseUrl) {
    <li 
      class="list-group-item p-0 mt-4 rounded-1 border-0"
      data-aos="flip-up">
      <div class="container-fluid">
        <div class="row align-items-xl-center">
          <div class="col-md-6 col-xl-5 p-3 neutral-very-dark-blue-color">{{ url.baseUrl }}</div>
          <hr class="d-md-none m-0" />
          <div class="col-md-6 col-xl-5 text-md-end p-3 primary-cyan-color">
            {{ url.shortenedUrl }}
          </div>
          <hr class="d-none d-md-block d-xl-none" />
          <div class="col-xl-2 p-3 pt-0 pt-xl-3">
            <button
              [cdkCopyToClipboard]="url.shortenedUrl"
              (click)="onCopy(cb)"
              class="btn text-white text-center w-100 primary-cyan-background-color"
              #cb
            >
              Copy
            </button>
          </div>
        </div>
      </div>
    </li>
    } @empty {
    <li 
      class="list-group-item p-0 bg-transparent border-0 mt-5"
      data-aos="fade-right">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 p-0 neutral-very-dark-blue-color">
            No urls shortened yet!
          </div>
        </div>
      </div>
    </li>
    }
  </ul>
</section>
