<section
  class="text-center p-4 d-flex flex-column justify-content-center align-items-center section-background"
  data-aos="zoom-out-down"
  data-aos-duration="500"
>
  <h2 class="text-white heading" data-aos="fade-up-left" data-aos-delay="500">
    Boost your links today
  </h2>
  <button
    type="button"
    class="btn text-white rounded-pill mt-2 signup-button"
    data-aos="zoom-in-up"
    data-aos-delay="800"
  >
    <a class="text-white text-decoration-none" href="#boost-link"
      >Get Started</a
    >
  </button>
</section>
