<nav class="navbar navbar-expand-xl">
  <div class="container-fluid p-0">
    <a class="navbar-brand p-0 me-5" href="#">
      <img src="../../assets/logo.svg" alt="Shortly logo" />
    </a>
    <button
      (click)="onAnimateCollapse()"
      class="navbar-toggler border-0 p-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
      aria-controls="navmenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between p-4 p-xl-0 mt-3 mt-xl-0 navbar-menu-style"
      [ngClass]="isMenuCollapsed ? '' : 'show'"
      id="navmenu"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-center mt-3 mt-xl-0 me-xl-5 nav-link-color active-link-style"
            href="#"
            >Fetures</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-center mt-3 mt-xl-0 me-xl-5 nav-link-color active-link-style"
            href="#"
            >Pricing</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-center mt-3 mt-xl-0 me-xl-5 nav-link-color active-link-style"
            href="#"
            >Resources</a
          >
        </li>
      </ul>
      <hr class="text-white" />
      <div class="d-flex flex-column flex-xl-row align-items-center">
        <button class="btn me-xl-4 nav-link-color active-button-link-style">
          Login
        </button>

        <button
          class="btn text-white rounded-pill primary-cyan-background-color mt-3 mt-xl-0 signup-width"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</nav>
