<section class="neutral-gray-background">
  <div class="container-fluid p-0">
    <header class="text-center">
      <h2 class="heading">Advanced Statistics</h2>
      <p class="mt-4 paragraph-heading">
        Track how your links are performing across the web with our advanced
        statistics dashboard.
      </p>
    </header>
    <div class="statistics-container">
      <div class="line"></div>
      <div class="row m-0">
        <div
          class="col-xl-3 p-0 text-center d-flex flex-column align-items-center"
        >
          <div class="rounded-circle align-self-xl-start circle-background">
            <img
              class="img-fluid"
              src="../../assets/icon-brand-recognition.svg"
              alt="Brand recognition icon"
            />
          </div>
          <article
            class="bg-white rounded-2 text-xl-start d-flex flex-column justify-content-center gap-3 text-tile"
          >
            <h3 class="tile-heading m-0">Brand Recognition</h3>
            <p class="paragraph-tile">
              Boost your brand recognition with each click. Generic links don’t
              mean a thing. Branded links help instil confidence in your
              content.
            </p>
          </article>
        </div>
        <div
          class="col-xl-3 p-0 text-center d-flex flex-column align-items-center"
        >
          <div class="rounded-circle align-self-xl-start circle-background">
            <img
              class="img-fluid"
              src="../../assets/icon-detailed-records.svg"
              alt="Detailed records icon"
            />
          </div>
          <article
            class="bg-white rounded-2 text-xl-start d-flex flex-column justify-content-center gap-3 text-tile"
          >
            <h3 class="tile-heading m-0">Detailed Records</h3>
            <p class="paragraph-tile">
              Gain insights into who is clicking your links. Knowing when and
              where people engage with your content helps inform better
              decisions.
            </p>
          </article>
        </div>
        <div
          class="col-xl-3 p-0 text-center d-flex flex-column align-items-center"
        >
          <div class="rounded-circle align-self-xl-start circle-background">
            <img
              class="img-fluid"
              src="../../assets/icon-fully-customizable.svg"
              alt="Fully customizable icon"
            />
          </div>
          <article
            class="bg-white rounded-2 text-xl-start d-flex flex-column justify-content-center gap-3 text-tile"
          >
            <h3 class="tile-heading m-0">Fully Customizable</h3>
            <p class="paragraph-tile">
              Improve brand awareness and content discoverability through
              customizable links, supercharging audience engagement.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
